body {
  font-family: 'Questrial', sans-serif;
}

.jumbotron {
  background-image: url("https://avatars3.githubusercontent.com/u/7507701?v=4");
  background-size: cover;
  background-position: center 60%;
  color: #ffffff;
  text-shadow: 0px 5px 10px rgb(0, 0, 0);
}

footer {
  background: #ffffff;
  color: #000000;
  bottom: 0;
  width:100%;
}


#link a {
  color: #000000;
  text-decoration: none;
}

.content-margin{
  margin-bottom: 20px;
}