body {
  font-family: 'Questrial', sans-serif;
  background-color: #FFFAF0;
}

.jumbotron {
  background-image: url("https://avatars3.githubusercontent.com/u/7507701?v=4");
  background-size: cover;
  background-position: center 60%;
  color: #ffffff;
  text-shadow: 0px 5px 10px rgb(0, 0, 0);
}

.nav {
  color: #ffffff;
}

a:link, a:visited, a:hover, a:active {
  color: #5bc0de;
}

.content-margin{
  margin-bottom: 2em;
}

footer {
  bottom: 0;
  width:100%;
}

