<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="mamori017" name="Keywords"/>
  <meta content="mamori017.github.io" name="Description"/>
  <meta content="mamori017" name="Author"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title id="title">mamori017</title>
  <link rel="icon" href="./img/favicon.ico" type="image/x-icon" /> 
  <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" rel="stylesheet" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet"/>
  <link href="./css/style.css" rel="stylesheet"/>
</head>
<body>

<div class="jumbotron" id="jumbotron">
  <div class="container">
    <h1 class="display-4">{{head}}</h1>
    <p class="lead">{{lists.bio}}</p>
  </div>
</div>
  
<div class="container"> 
  <div class="row">
    <div class="col-md-6 offset-md-3 content-margin" id="about">
      <h3>{{head}}</h3>
      <p v-if="about!=null" style="display:inline;">{{about}}&nbsp;</p>
      <p v-if="lists.location!=null" style="display:inline;">From {{lists.location}}.&nbsp;</p>
      <p v-if="lists.company!=null" style="display:inline;">{{lists.company}}.</p>
    </div>

    <div class="col-md-6 offset-md-3 content-margin" id="repo">
      <h3>{{head}}</h3>
      <ul>
        <li v-for="(list, index) in lists" v-if="index < 3">
          <p><a href="#" v-bind:href="list.html_url" target="_blank">{{list.name}}</a>&nbsp;-&nbsp;<small>{{list.description}}</small></p>
        </li>
      </ul>
      <div v-if="lists.length > 3" class="text-right">
        <a href="#" class="btn btn-info btn-md active" role="button" aria-pressed="true" v-bind:href="more" target="_blank">Show more</a>
      </div>
    </div>

    <div class="col-md-6 offset-md-3 content-margin" id="link">
      <h3>{{head}}</h3>
        <p v-for="item in items.list" style="display: inline;">
          <a href="#" v-bind:href="item.url" target="_blank"><i v-bind:class="item.icon" aria-hidden="true"></i></a>&nbsp;
        </p>
    </div>

    <div class="col-md-6 offset-md-3 content-margin" id="contact">
      <h3>{{head}}</h3>
      <p>{{about}}</p>
      <div class="text-right">
        <a href="#" class="btn btn-info btn-md active" role="button" aria-pressed="true" v-bind:href="url" target="_blank">Contact form</a>
      </div>
    </div>
  </div><!-- row -->
</div><!-- container -->

<footer id="footer">
  <elem></elem>
</footer>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="./js/default.js"></script>
</body>
</html>